.portfolio .container {
  transition: 0.4s;
}

.portfolio-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.portfolio-title {
  padding-bottom: 1rem;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.prt-card {
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--bg-color-2);
  height: 265px;
  display: grid;
  grid-template-rows: 1fr auto;
  transition: 0.3s background-color;
}

.prt-image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prt-image img {
  width: 105%;
}

.prt-desc {
  padding: 1.1rem 1.6rem;
  display: flex;
  justify-content: space-between;
}

.prt-desc h3 {
  font-size: 0.95rem;
  color: var(--heading-color);
  font-weight: 600;
  text-transform: capitalize;
}

.prt-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: 0.5s;
}

.prt-image:hover .prt-overlay {
  pointer-events: auto;
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(10px);
}

.prt-icon {
  color: hsl(var(--hue-1), 61%, 24%);
  font-size: 1.1rem;
  margin: 0 0.4rem;
  background-color: var(--main-color-2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(15px);
  opacity: 0;
  transition: 0.3s;
}

.prt-icon:hover {
  background-color: var(--main-color-dark-2);
}

.prt-image:hover .prt-icon {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.3s var(--i);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;
  pointer-events: none;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: 0.3s;
}

.slider-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 400px));
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: 0.2s;
}

.slider-wrap img {
  width: 100%;
  display: none;
  border-radius: 10px;
}

.slider-wrap img.showImage {
  display: block;
}

.navigation {
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
}

.portfolio.open .modal {
  pointer-events: auto;
}

.portfolio.open .modal-overlay {
  opacity: 1;
}

.portfolio.open .container {
  transform: scale(0.9);
}

.portfolio.open .slider-wrap {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.45s 0.1s;
}
